body{
    margin: 0;
    padding: 0;
    font-family: 'Cabin Sketch', sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

}

.personalData{
    margin-left: 30px;
    margin-top: 50px;
}

.distanceText{
    font-size:2rem;
}

.submitButton{
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1.25rem;
    border-radius: 4px;
}

#top{
    display: flex;
    width: 100%;
    height: 65vh;
    flex-direction: row;
    justify-content: center;

}

#bottom{
    display: flex;
    width: 100%;
    height: 35vh;
    padding-left: 6.5vw;
    align-items: left;
    flex-direction: row;
}


#SelfStream{
    margin-top: 10px;
    border: 2px solid #099dfd;
    width: 300px;
    height: 200px;
}

#remoteStream{
    flex-direction: row;
}

.controls{
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 0px;
    height: 100px;
    width: 600px;
    background-color: #ffffff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}

.icon {
    height: 40px;
    width: 50px;
    margin: 20px;
    cursor: pointer;
}