body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.left-pane{
    background-color: white;
    width: 30vw;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}

.logo {
    margin-top: 20px;
}

.logoElement{
    width: 30%
}

.text{
    margin-top: 50px;
    margin-left: 10px;
}

.headingText{
    font-size: 1.5rem;
}

input{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 95%;
    height: 5%;
    font-size: 1.25rem;
    border: 2px solid #099dfd;
    border-radius: 5px;
}
.submitButton{
    background-color: #099dfd;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 35px;
    padding-left: 35px;
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: 4px;
}

.participants {
    margin-top: 40px;
    margin-left: 10px;
}

.participantText {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 1.25rem;
}

#participantList{
    margin-left: 20px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
}


.right-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#right-top{
    display: flex;
    width: 100%;
    height: 65vh;
    flex-direction: column;
    padding-left: 8vw;
}

#right-bottom{
    display: flex;
    width: 100%;
    height: 35vh;
    padding-left: 6.5vw;
    align-items: left;
    flex-direction: row;
}


#SelfStream{
    margin-top: 40px;
    border: 2px solid #099dfd;
    width: 950px;
    height: 375px;
}

#remoteStream{
    flex-direction: row;
}